@import url(./global.css);

/* Body */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main>div {
    display: grid;
    text-align: center;
    padding-inline: 1rem;
    transition: all var(--transition);

    & p {
        font-size: 0.9rem;
        font-weight: 500;
        overflow: hidden;
        margin: 0 auto;
        white-space: nowrap;
        animation: typewriter 8s steps(105, end);
    }
}

@media (prefers-reduced-motion) {
    main>div {

        & p {
            animation: none;
        }
    }
}

@media (min-width: 768px) {

    main>div {

        & h1 {
            font-size: 2rem;
        }

        & p {
            font-size: 1.2rem;
        }
    }
}

@keyframes typewriter {
    from {
        width: 0%;
        ;
    }

    to {
        width: 100%;
    }
}