@import url(../../css/global/styles.css);

:root {
    /* Colors */
    --charcoal: hsl(0, 0%, 25%);
    --cyan: hsl(187, 92%, 69%);
    --gray: hsl(0, 0%, 83%);
    --white: hsl(0, 0%, 99%);

    /* Utils */
    --border-r: 0.6rem;
    --box-shadow: 0px 5px 12px var(--charcoal);
}


* {
    margin: 0;
    padding: 0;
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: var(--border-r);
}

svg {
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

body {
    padding: 2rem 1rem;
    display: grid;
    justify-items: center;
    row-gap: 2rem;
}

header {
    text-align: center;

    & h1 {
        font-size: 1.4rem;
    }
}

main {
    background-color: var(--gray);
    border-radius: var(--border-r);
}

#gallery {
    display: grid;
    justify-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: var(--border-r);
}

.card {
    text-align: center;
    padding: 1rem;
    border-radius: var(--border-r);
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    border: none;

    & h2 {
        font-size: 1.2rem;
    }
}

.card:hover,
.card:focus-visible {
    filter: brightness(0.9);
    cursor: pointer;
}

footer {
    text-align: center;
    font-weight: bold;

    & a {
        padding: 0.6rem;
        border-radius: var(--border-r);
        background-color: var(--cyan);
    }

    & a:hover {
        filter: brightness(0.8);
    }

    & svg {
        vertical-align: text-bottom;
    }
}

#modal {
    /* Center Modal */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Rest of Styling */
    row-gap: 1rem;
    padding: 1rem;
    border: none;
    border-radius: var(--border-r);
    box-shadow: var(--box-shadow);

    & form {
        justify-self: end;

        & button {
            background-color: var(--charcoal);
            padding: 0.3rem 0.5rem;
            border: none;
            border-radius: 50%;
        }

        & svg {
            fill: var(--white);
        }
    }
}

#modal[open] {
    display: grid;
}

#modal-content-wrapper {

    & img {
        animation: grow 1s;
    }
}

@media (prefers-reduced-motion) {

    #modal-content-wrapper {

        & img {
            animation: none;
        }
    }
}

#modal-info {

    & a {
        padding: 0.3rem;
        border-radius: var(--border-r);
        transition: all 0.3s;
        border: 2px solid var(--charcoal);
        margin-block: 1rem;

        & svg {
            fill: var(--charcoal);
            transition: all 0.3s;
            height: 20px;
            width: 17.5px;
        }
    }

    & a:hover {
        background-color: var(--charcoal);
        color: var(--white);
        font-weight: bold;

        & svg {
            fill: var(--white);
        }
    }
}

@keyframes grow {
    from {
        scale: 0%;
    }

    to {
        scale: 100%;
    }
}

@media (min-width: 768px) {

    header {

        & h1 {
            font-size: 2rem;
        }
    }

    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {

        & h2 {
            font-size: 1.5rem;
        }
    }

    #modal {

        & section {
            display: grid;
            row-gap: 1rem;
        }
    }

    #modal-content-wrapper {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        width: max-content;
    }

    #modal-info {

        & p,
        a {
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 1024px) {

    #gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    #modal {
        padding: 2rem;
    }

    #modal-content-wrapper {

        img {
            height: 400px;
            width: 400px;
        }
    }

    #modal-info {

        & h2 {
            font-size: 2rem;
        }
    }
}

@media (min-width: 1440px) {

    #gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}