@import url(../css/global.css);

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: var(--transition);
}

/* Sticky Navbar */
body>header {
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    /* Navbar Height */
    margin-top: 90px;
    padding: 2rem 1rem;
    max-width: 80rem;
    margin-inline: auto;
    text-align: center;

    &>*:not(:last-child) {
        margin-bottom: 2rem;
    }

    #promo-sorter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 4rem;

        & select,
        option {
            font: inherit;
        }
    }

    #gallery {
        display: grid;
        justify-items: center;
        gap: 1rem;
    }

    figcaption {
        padding-block: 0.8rem;
        display: flex;
        justify-content: space-around;

        svg {
            fill: var(--body-font-color);
            vertical-align: middle;
        }
    }

    svg path.yellow {
        fill: var(--yellow-500);
    }

    svg path.red {
        fill: var(--red-600);
    }
}

/* Media Queries */

@media (min-width: 768px) {
    #gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1440px) {
    #gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}