@import url(../css/global.css);

/* Body */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {

    padding: 2rem 1rem;
    max-width: 65ch;
    margin-inline: auto;
    text-align: center;

    &>*:not(:last-child) {
        margin-bottom: 2rem;
    }

    /* End Tabs */

    & form {
        padding: 2rem;
        border: 1px dotted var(--body-font-color);
        border-radius: var(--form-border-radius);
        text-align: left;
        transition: var(--transition);
        box-shadow: var(--box-shadow);
    }

    & form>div {
        display: grid;

        label {
            font-size: 1.125rem;
            font-weight: bold;
            text-align: left;
        }

        & input {
            border-radius: var(--border-radius);
            border: 1px solid var(--body-font-color);
            margin-bottom: 2rem;
        }

        & button {
            background-color: var(--blue-600);
            color: var(--neutral-100);
            border-radius: var(--border-radius);
            padding: 0.5rem;
            margin-bottom: 1rem;
        }

        & button:hover {
            background-color: var(--blue-800);
        }

    }
}

@media (min-width: 768px) {
    main {

        form {
            padding-inline: 8rem;
        }
    }
}